flows.json
[
    {
        "id": "a8beaa46.5ad8b8",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "74d39825.040768",
        "type": "bulbsout",
        "z": "a8beaa46.5ad8b8",
        "name": "",
        "subtype": "set-bulb-hue",
        "value": "",
        "x": 688,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf438d57.1406d",
        "type": "bulbsout",
        "z": "a8beaa46.5ad8b8",
        "name": "",
        "subtype": "set-bulb-hue",
        "value": "",
        "x": 688,
        "y": 438,
        "wires": []
    },
    {
        "id": "e4eef929.1fb798",
        "type": "bulbsout",
        "z": "a8beaa46.5ad8b8",
        "name": "",
        "subtype": "set-bulb-hue",
        "value": "",
        "x": 691,
        "y": 526,
        "wires": []
    },
    {
        "id": "5c9784ed.e71c6c",
        "type": "inject",
        "z": "a8beaa46.5ad8b8",
        "name": "inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": 1,
        "crontab": "",
        "once": true,
        "x": 271,
        "y": 426,
        "wires": [
            [
                "a4db24bc.711b68"
            ]
        ]
    },
    {
        "id": "a4db24bc.711b68",
        "type": "dbfunction",
        "z": "a8beaa46.5ad8b8",
        "name": "",
        "func": "return [\n    {\n        payload: 25653\n    },\n    {\n        payload: 47125\n    },\n    {\n        payload: 65023\n    }\n];",
        "outputs": 3,
        "inputtypedef": "",
        "outputtypedef": "",
        "noerr": 0,
        "x": 438,
        "y": 423,
        "wires": [
            [
                "74d39825.040768"
            ],
            [
                "cf438d57.1406d"
            ],
            [
                "e4eef929.1fb798"
            ]
        ]
    }
]